body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  width: 43px;
  height: 44px;
  border-radius: 48%;
  margin-left: 4px;
}
.last{
  width: 85px;
  margin: 5px;
  height: 30px;
  border-radius: 12%;
}
.dsply{
  width: 182px;
  height: 215px;
  border: 0px;
  background-color: #242323;
  text-align: end;
  font-size: 40px;
  justify-self: stretch;
  color: white;
}

.content{
 
  margin: 0;
  padding: 15px;
  height: 94%;
  border-radius: 7%;
  background-color: #000000de;}
h1{
  background-color: rgba(252, 194, 87, 0.575);
  margin: 0;
  padding: 10px;
}