body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  width: 30px;
  margin-top: 10px;
  margin-left: 4px;
  border: inset red;
}
.last{
  width: 73px;
  margin-top: 10px;
  border: inset rgb(30, 255, 0);
}
.dsply{

  width: 140px;
  height: 20px;
  border: inset red;
}

.content{
display: grid;
justify-content: center;
background-color: antiquewhite;
margin: 0;
padding: 15px;
border: ridge #f7c328 10px;
}
h1{
  background-color: rgba(252, 194, 87, 0.575);
  margin: 0;
  padding: 10px;
}